@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-gray-50 text-gray-900;
  }
}

.mermaid svg {
  max-width: 100% !important;
  height: auto !important;
}
